<html>
    <h1> Defensive Heroes </h1>
<table border=1, style="width:70%">

  <tr>
    <th>Name</th>
    <th>Preferred Range</th>
    <th>Movement</th>
    <th>Picture</th>
    </tr>
  <tr>
    <td>Bastion</td>
    <td>Close-Mid-long</td>
    <td>Clunky</td>
    <td> <img src = "{{url_for('static', filename='bastion.jpg')}}"width=80%></td>
  </tr>
  <tr>
    <td>Hanzo</td>
    <td>Mid-Long</td>
    <td>Clunky</td>
    <td> <img src = "{{url_for('static', filename='hanzo.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Junkrat</td>
    <td>Mid</td>
    <td>Dynamic</td>
    <td> <img src = "{{url_for('static', filename='junkrat.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Mei</td>
    <td>Close-Mid</td>
    <td>Clunky</td>
    <td> <img src = "{{url_for('static', filename='mei.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Torbjorn</td>
    <td>Close-Mid</td>
    <td>Clunky</td>
    <td> <img src = "{{url_for('static', filename='torbjorn.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Widowmaker</td>
    <td>Long</td>
    <td>Clunky</td>
    <td> <img src = "{{url_for('static', filename='widowmaker.jpg')}}"width=50%></td>
  </tr>
</table>

<a href= "http://localhost:5000/types">Back to types</a>

<html>
