<html>
<!--Links to style sheet-->
<head><link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"></head>

<!--Heading-->
<h1>These guys are so offensive </h1>

<!--Creates table-->
<table border = 1, style="width:75%">
  <!--Table headings-->
  <tr>
    <th>Name</th>
    <th>Preferred Range</th>
    <th%>Movement</th>
    <th>Picture</th>
  </tr>

  <!--Table contents-->
  <tr>
    <td>Reaper</td>
    <td>Close</td>
    <td>Clunky</td>
    <td> <img src = "{{url_for('static', filename='reaper.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Tracer</td>
    <td>Close</td>
    <td>Dynamic</td>
    <td><img src = "{{url_for('static', filename='tracer.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Doomfist</td>
    <td>Close-Mid</td>
    <td>Dynamic</td>
    <td> <img src = "{{url_for('static', filename='doomfist.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Genji</td>
    <td>Close</td>
    <td>Dynamic</td>
    <td> <img src = "{{url_for('static', filename='genji.jpg')}}"width=50%></td>
  </tr>
   <tr>
    <td>McCree</td>
    <td>Close-Mid</td>
    <td>Clunky</td>
    <td> <img src = "{{url_for('static', filename='mccree.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Pharah</td>
    <td>Mid-Long</td>
    <td>Dynamic</td>
    <td> <img src = "{{url_for('static', filename='pharah.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Sombra</td>
    <td>Close</td>
    <td>Clunky</td>
    <td> <img src = "{{url_for('static', filename='sombra.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Soldier: 76</td>
    <td>Mid</td>
    <td>Dynamic</td>
    <td> <img src = "{{url_for('static', filename='soldier.jpg')}}"width=50%></td>
  </tr>
</table>

<!--Links back to home-->
<a href= "http://localhost:5000/types">Back to types</a>
</html>
