<html>
    <h1>Support Heroes</h1>
<table style="width:100%", border = 1>
  <tr>
    <th>Name</th>
    <th>Preferred Range</th>
    <th>Movement</th>
    <th>Picture</th>
  </tr>
  <tr>
    <td>Ana</td>
    <td>Mid-Long</td>
    <td>N/A</td>
    <td> <img src = "{{url_for('static', filename='ana.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Lucio</td>
    <td>Close-mid</td>
    <td>Dynamic</td>
    <td> <img src = "{{url_for('static', filename='lucio.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Mercy</td>
    <td>Close-Mid</td>
    <td>Clunky-Dynamic; Dependant on positioning of alies</td>
    <td> <img src = "{{url_for('static', filename='mercy.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Symmetra</td>
    <td>Close</td>
    <td>N/A</td>
    <td> <img src = "{{url_for('static', filename='symmetra.jpg')}}"width=50%></td>
  </tr>
  <tr>
    <td>Zenyatta</td>
    <td>Mid</td>
    <td>N/A</td>
    <td> <img src = "{{url_for('static', filename='zenyatta.jpg')}}"width=50%></td>
  </tr>

</table>
    <a href= "http://localhost:5000/types">Back to types</a>
</html>
