<html>
<!--Links to style sheet-->
<head><link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"></head>

<!--Heading-->
<h1> Tanks for the memories </h1>

<!--Creates table-->
<table border = 1, style="width:75%">

  <!--Table headings-->
    <tr>
      <th >Name</th>
      <th>Preferred Range</th>
      <th>Movement</th>
      <th>Picture</th>
    </tr>

  <!--Table contents-->
    <tr>
      <td>Dva</td>
      <td>Close</td>
      <td>Dynamic</td>
      <td> <img src = "{{url_for('static', filename='dva.jpg')}}"width=50%></td>
   </tr>
   <tr>
     <td>Orisa</td>
     <td>Close-mid</td>
     <td>N/A</td>
     <td> <img src = "{{url_for('static', filename='orisa.jpg')}}"width=50%></td>
   </tr>
   <tr>
     <td>Reinhardt</td>
     <td>Close</td>
     <td>Clunky</td>
     <td> <img src = "{{url_for('static', filename='reinhardt.jpg')}}"width=50%></td>
   </tr>
   <tr>
     <td>Roadhog</td>
     <td>Close-Mid</td>
     <td>N/A</td>
     <td> <img src = "{{url_for('static', filename='roadhog.jpg')}}"width=50%></td>
   </tr>
   <tr>
     <td>Winston</td>
     <td>Short</td>
     <td>Dynamic</td>
     <td> <img src = "{{url_for('static', filename='winston.jpg')}}"width=50%></td>
   </tr>
   <tr>
     <td>Zarya</td>
     <td>Close-Mid</td>
     <td>N/A</td>
     <td> <img src = "{{url_for('static', filename='zarya.jpg')}}"width=50%></td>
   </tr>
</table>

<!--Links back to the home page-->
<a href= "http://localhost:5000/types">Back to types</a>

</html>
